<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<h2>Admission Test</h2>
			<hr>
			<ul style="font-size: 16px; color: black">
				<li><p>In addition to hard work and a determination to get ahead in life, FJU's online content requires proficiency in English, Math and Reasoning for the student to be able to understand the content and do the assignments.  </p></li>
				<li><p>Once we receive your application and verify your credentials, you will be invited to take an online test. Please follow the instructions in the email you receive to take the test. You can take the test at anytime that is convenient to you within the test window of a week.</p></li>
				<li><p>The test should take no more than an hour to complete. Please scroll to the bottom of this page to see sample test questions.</p></li>
				<li><p>The results will be emails to you instantly upon completion of the test.</p></li>
			</ul><br>
			<h3>Numerical: </h3>
			<p><b>Instructions:</b>  Select the correct answer for the following questions. Each question has only one correct answer.</p><br>
			<ol style="font-size: 16px; color: black">
				<li>
					<p>Jack is twice as fast as Justin. Justin is thrice as fast as Annie. The distance covered by Annie in 54 minutes will be covered by Justin in ___ minutes</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>9 min</li>
						<li>21 min</li>
						<li>18 min</li>
						<li>15 min</li>
					</ol>
				</li>
				<li>
					<p>A newspaper in a town is published every day. One copy has 24 pages. Everyday 85,000 copies are printed. On Sundays 15000 more copies are printed. How many total pages are printed on Sundays? </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>12,00,000</li>
						<li>20,40,000</li>
						<li>10,20,000</li>
						<li>24,00,000</li>
					</ol>
				</li>
				<li>
					<p>The number ‘X’ is exactly divisible by 5. The remainder after the division of the number ‘Y’ by 5 is equal to 1 and the remainder after the division of the number ‘Z’ by 5 is equal to 2. What is the remainder when the number (2X + 3Y – 4Z) is divided by 5?</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>1</li>
						<li>3</li>
						<li>2</li>
						<li>0</li>
					</ol>
				</li>
				<li>
					<p>By selling a watch for Rs 960, a profit of 20% is made. What is the gain or loss percentage if it is sold for Rs 760. </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>No loss, no gain </li>
						<li>5% loss </li>
						<li>5% gain </li>
						<li>10% gain </li>
					</ol>
				</li>
				<li>
					<p>20% of a number is 60. What is 15% of the same number?</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>30</li>
						<li>25</li>
						<li>50</li>
						<li>45</li>
					</ol>
				</li>
			</ol><br>
			<h3>Reasoning: </h3>
			<p><b>Instructions:</b>  Select the correct answer for the following questions. Each question has only one correct answer.</p>
			<ol style="font-size: 16px; color: black">
				<li>
					<p>Six people: C, D, E, F, G and H are standing in a straight line facing north, not necessarily in the same order. D is standing second to the right of F. C standing fourth to the left of H and H is not standing on the extreme end of line. E is standing second to the right of D. If all the people are asked to stand in an alphabetical order from left to right, position of how many will remain unchanged.</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>One</li>
						<li>Two</li>
						<li>Three</li>
						<li>Four</li>
					</ol>
				</li>
				<li>
					<p>I am facing East. I turn 180 degreesin the clockwise direction and then 90 degreesin the anti ? clockwise direction. Which direction am I facing now? </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>East</li>
						<li>West</li>
						<li>North</li>
						<li>South</li>
					</ol>
				</li>
				<li>
					<p> Find the next number in the series. 8, 27, 125, 343___, </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>512 </li>
						<li>1331 </li>
						<li>729 </li>
						<li>1000</li>
					</ol>
				</li>
				<li>
					<p>If in a certain language, TRIANGLE is coded SQHZMFKD, then which word would be coded as DWZLOKD?</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>DISMISS</li>
						<li>EXAMPLE</li>
						<li>FIGMENT</li>
						<li>DISJOIN</li>
					</ol>
				</li>
				<li>
					<p>DKY, FJW, HIU,  ?, LGQ</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>KGR</li>
						<li>LFQ</li>
						<li>KFR</li>
						<li>JHS</li>
					</ol>
				</li>
			</ol><br>
			<h3>Sentence correction: </h3>
			<p><b>Instructions:</b>  Select the correct form of the sentence for the following questions, some of the sentences may be correct in their original form.</p><br>
			<ol style="font-size: 16px; color: black">
				<li>
					<p>Another way of saying 'old-fashioned' is 'beside the times'.</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>Another way of saying 'old-fashioned' is 'beside the times'.</li>
						<li>Another way of saying 'old-fashioned' is 'behind the times'.</li>
						<li>Another way of saying 'old-fashioned' is 'outside the times'.</li>
						<li>Another way of saying 'old-fashioned' is 'beforethe times'.</li>
					</ol>
				</li>
				<li>
					<p>The factory workers have been on strike since January.</p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>The factory workers have been on strike since January.</li>
						<li>The factory workers have been in strike since January. </li>
						<li>The factory workers have been about strike since January. </li>
						<li>The factory workers have been through strike since January.</li>
					</ol>
				</li>
				<li>
					<p> I'm off for two weeks at August. </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>I'm off for two weeks at August.</li>
						<li>I'm off for two weeks in August. </li>
						<li>I'm off for two weeks on August.</li>
						<li>I'm off for two weeks between August. </li>
					</ol>
				</li>
				<li>
					<p>Let us discuss about this matter. </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>Let us discuss about this matter.</li>
						<li>Let us discuss in this matter. </li>
						<li>Let us discuss this matter.</li>
						<li>Let us discuss for this matter.</li>
					</ol>
				</li>
				<li>
					<p>Mike jog in the morning. </p>
					<ol style="font-size: 16px; color: black" type="a">
						<li>Mike jogging in the morning.</li>
						<li>Mike jogs the morning. </li>
						<li>Mike jog in the morning.</li>
						<li>Mike will jog in the morning. </li>
					</ol>
				</li>
			</ol><br><br>
		</div>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>