<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<p><b>We have a very simple application process</b></p>
			<ol style="color: black; font-size: 16px;">
				<li><p>Visit <a href="http://apply-973.appspot.com/apply-pin.html">fju.us/apply</a> and enter the requested information. It should take just a couple of minutes to enter the required information.</p></li>
				<li><p>Pay the application fee online The fee will vary depending on your country of residence, it will be used to cover the cost of processing your application.</p></li>
				<li><p>You will receive a confirmation email. Follow the instructions in the email to validate your email adrress, this completes your application submission process.</p></li>
			</ol>
		</div>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>