<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<h2>Certificate in Web Application Engineering</h2>
			<hr>
			<p>This certificate program prepares you for a web developer job which involves building modern web applications such as FaceBook, Twitter, Wikipedia etc. The curriculum begins with an introductory Computer Science course and then it prepares you to take a high level description of a web application, design it, develop the software and host a robust web application that can scale for thousands of users.</p><br>
			<h4>LEARNING OBJECTIVES - BY THE END OF THIS COURSE YOU WILL BE ABLE TO: </h3><b4>
			<ul>
				<li><p>Develop code to solve computational problems </p></li>
				<li><p>Analyse a high level description of a web application </p></li>
				<li><p>Design a user interface for the web application </p></li>
				<li><p>Implement web application using HTML, CSS, Java Script and Server Side code </p></li>
				<li><p>Host the web application on the Internet </p></li>
			</ul><br>
			<h4>Course Work</h4>
			<ol>
				<li><p><a href="object-oriented-programming.html">Object Oriented Programming</a> - 4 credits</p></li>
				<li><p><a href="databases.html">Databases</a> - 4 credits</p></li>
				<li><p><a href="web-app-development-front-end.html">Web App Development (Front End)</a> - 4 credits</p></li>
				<li><p><a href="web-app-development-server-side.html">Web App Development (Server Side)</a> - 4 credits</p></li>
				<li><p><a href="#">Project</a> - 8 credits</p></li>
			</ol><br>
			<h2>Certificate in Mobile Application Engineering</h2><hr>
			<p>This certificate program prepares you for a web developer job which involves building modern web applications such as FaceBook, Twitter, Wikipedia etc. The curriculum begins with Introductory Computer Science and then it prepares you to take a high level description of a web application, design it, develop the software and host a robust web application that can scale for thousands of users.</p><br>
			<h4>LEARNING OBJECTIVES - BY THE END OF THIS COURSE YOU WILL BE ABLE TO: </h4>
			<ul>
				<li><p>Develop code to solve computational problems </p></li>
				<li><p>Analyse a high level description of a mobile application </p></li>
				<li><p>Design a user interface for the mobile application </p></li>
				<li><p>Implement an android application using android SDK </p></li>
				<li><p>Host the mobile application on the Google Play Store. </p></li>
			</ul><br>
			<h4>Course Work</h4>
			<ul>
				<li><p><a href="object-oriented-programming.html">Object Oriented Programming</a> - 4 credits</p></li>
				<li><p><a href="databases.html">Databases</a> - 4 credits</p></li>
				<li><p><a href="android-app-development.html">Android App Development (Basic)</a> - 4 credits</p></li>
				<li><p><a href="advance-android-app-development.html">Android App Development (Advanced)</a> - 4 credits</p></li>
				<li><p><a href="#">Project</a> - 8 credits</p></li>
			</ul><br>
			<h2>Certificate Course in Data Analytics</h2>
			<hr>
			<p>Data Manipulation, Data Analysis with Statistics and Machine Learning, Data Communication & Information Visualization.</p><br>
			<h2>Certificate Course in Software Engineering</h2>
			<hr>
			<p>Software development life cycle, use design processes and perform software testing.</p><br>
			<h2>Certificate Course in Cloud Computing</h2>
			<hr>
			<p>​Clouds, MapReduce, key­value stores, P2P systems. </p><br><br>
		</div>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>