<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<h2 class="text-center">Course Catalog</h2>
			<br><br>
			<h4>Digital Literacy (Basic)</h4>
			<hr>
			<p>Use the computer, browse the web, send emails, call on skype, use the search engine, and follow Internet safety guidelines.​</p>
			<br>
			<h4>Digital Literacy (Advanced)</h4>
			<hr>
			<p>Create documents, Create spreadsheets, Create presentations, Share and collaborate online.</p>
			<br>
			<h4>Intro Programming (Basic)</h4>
			<hr>
			<p>Read Java programs and interpret their behavior, Write Java programs to solve computational problems (variables, data types, statements, control flow, loops, functions, recursion and arrays).</p>
			<br>
			<h4>Object Oriented Programming (Advanced)</h4>
			<hr>
			<p>Create complex data types using object oriented principles.​</p>
			<br>
			<h4>Computer Systems (Basic)</h4>
			<hr>
			<p>Observe the number representations inside the computer, Interpret machine level code.​</p>
			<br>
			<h4>Computer Systems (Advanced)</h4>
			<hr>
			<p>Observe memory referencing bugs, analyze performance, communication over networks.</p>
			<br>
			<h4>Algorithms & Data Structures I</h4>
			<hr>
			<p>Iterable data types (Stacks, queues and bags)</p>
			<br>
			<h4>Algorithms & Data Structures II</h4>
			<hr>
			<p>Sorting and Searching algorithms</p>
			<br>
			<h4>Algorithms & Data Structures III</h4>
			<hr>
			<p>Graph processing (minimum spanning tree and shortest paths)</p>
			<br>
			<h4>Algorithms & Data Structures IV</h4>
			<hr>
			<p>String processing (string sorts, tries, substring search, regular expressions & data compression)​</p>
			<br>
			<h4>Databases</h4>
			<hr>
			<p>Design relational models, Create database tables, read, interpret and write SQL queries.​</p>
			<br>
			<h4>Software Engineering</h4>
			<hr>
			<p>Explain the software development life cycle, use design processes and perform software testing.</p>
			<br>
			<h4>Social Networks</h4>
			<hr>
			<p>Connecting people through technology, Online Collaboration and Crowdsourcing</p>
			<br>
			<h4>Mobile Apps</h4>
			<hr>
			<p>Build a simple Android app.</p>
			<br>
			<h4>Data Analytics</h4>
			<hr>
			<p>Data Manipulation, Data Analysis with Statistics and Machine Learning, Data Communication & Information Visualization.</p>
			<br>
			<h4>Cloud Computing</h4>
			<hr>
			<p>Clouds, MapReduce, key-value stores, P2P systems.</p>
			<br>
			<h4>Artificial Intelligence</h4>
			<hr>
			<p>Basics of modern AI and representative applications of AI.</p>
			<br>
			<h4>Robotics</h4>
			<hr>
			<p>Probabilistic inference, planning and search, localization, tracking and control.</p>
			<br>
			<h4>Computer Networks</h4>
			<hr>
			<p>Architecture & Principles, Switching, Routing, Naming, Addressing and Forwarding.</p>
			<br>
			<h4>Security</h4>
			<hr>
			<p>Network security, Internet Worms, Spam, Denial of Service Attacks.</p>
			<br>
		</div>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>