<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h2 id="heading">Deferred Tuition</h2>
		<hr>
		<ul style="font-size: 16px; color: black">
			<li><p>One very unique aspect of FJU is our deferred tuition policy. For American families making less than USD $50,000 annually, FJU will defer 50% of the tuition till graduation. You will be required to repay the deferred tuition over a period of 10 years after graduation. The amount of tuition you are required to repay in any given year will not exceed 10% of your annual salary. In offering this option, FJU truly believes that our students who get ahead in life after graduating from FJU will have the highest level of integrity and will do their best to repay the tuition owed. Any unpaid tuition 10 years after graduation will be forgiven. </p></li>
			<li><p>Students obviously have the choice to pay back the tuition faster if they would like to. </p></li>
			<li><p>To be eligible for this program, students will need to provide proof of income during the student counseling process. This is an annual program that the student needs to apply to every year they are enrolled at FJU.</p></li>
			<li><p><b>FJU is in the process of developing similar policies for other countries, please check back here for updates.</b></p></li>
		</ul>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>