<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<h2>Degrees & Programs</h2><br>
			<p>FJU offers a number of educational experiences designed to address learner’s differing needs.  These offerings are designed to provide dedicated learners a path to the knowledge, skills, professional behaviors, and credentials required by an ever-growing number of employers.</p><br>
			<p><b>Courses:</b> At the heart of these experiences are courses, the most common being the four-unit course.  A four-unit course requires, on average, 160 hours of serious work by a dedicated learner.  Unlike traditional schools where students take a number of classes at the same time, at FJU, students focus on one course at a time, full-time (averaging 40 hours per week) or part-time (averaging 20 or 10 hours a week).  Depending on the time learners have agree to dedicate to their studies, full-time students will finish a four-unit course in four weeks and part-time students will spend eight or sixteen weeks to complete the same course.</p><br>
			<p><b>Co-op:</b> All programs at FJU require learners to successfully experience practical work either by means of group projects and/or apprenticeship at a participating corporation. Undergraduates in an approved co-op program will be expected to spend at least four months every year in a work place environment (possibly 3 to 4 hours every day).  Learners with well-documented (e.g. a compelling portfolio) and approved work experiences (addressing the required skills) may petition to waive this co-op requirement.</p><br>
			<p><b>Practicum:</b> FJU requires learners to demonstrate what they have learned and are able to do by means of a practicum.  There are 8-unit <b>small practicums</b>, requiring 320 hours of effort (roughly two months full-time), and 16-unit <b>large practicums</b> requiring 640 hours of effort (a semester of full-time effort).  Unlike courses that require learners to acquire and practice new knowledge, practicums require the learner to apply what has been learned to real-world projects.  A crucial aspect of a practicum is the learner’s ability to demonstrate that they are able to produce quality work products using appropriate processes, methods, and tools consistent with current professional best practices.</p><br>
			<p><b>Badge:</b> The smallest credential a learner may earn is a badge.  Badges range from a single course up to an approved set of three, four-unit courses and can be earned with as little as one month of full-time effort.  These are typically used as part of an employer’s or a professional’s continuing education and currency program.</p><br>
			<p><b>Certificate:</b> Certificates typically require an approved set of four, four-unit courses (a total of 640 hours) plus the successful completion of a small practicum project (an additional 320 hours).  Certificates typically require a full-time learner to dedicate four months of effort (a semester) to the courses in the certificate and an additional two months on a <b>small</b> practicum project. </p><br>
			<p><b>Associate’s Degree:</b> A learner with a high school diploma, GED, or equivalent may earn this credential after <b>four</b> full-time semesters of approved study plus an approved co-op.  This is typically accomplished by taking the equivalent of 16 four-unit courses plus the co-op.  Half of the coursework covers potential job-related technical content while the remainder is dedicated to liberal arts courses aimed at helping the learner become an effective, successful, and satisfied member of society.</p><br>
			<p><b>Bachelor’s Degree:</b> A learner with a high school diploma, GED, or equivalent may earn this credential after <b>eight</b> full-time semesters of approved study plus an approved co-op.  This is typically accomplished by taking the equivalent of 32 four-unit courses (including approved Project courses) and/or the co-op.  Half of the coursework covers potential job-related technical content while the remainder is dedicated to liberal arts courses aimed at helping the learner become an effective, successful, and satisfied member of the workforce.</p><br>
			<p><b>Master’s Degree:</b> A learner with an appropriate Bachelor’s degree <a id="1ref" href="#ref1">[1]</a> or equivalent may earn this credential after <b>two</b> full-time semesters of approved study plus a <b>large</b> practicum. This is typically accomplished by taking the equivalent of 8 four-unit courses plus a 16-unit practicum.  This is equivalent to 3 semesters of study in most universities.  All master’s degrees at FJU are <b>professional</b> master’s degrees aimed at accelerating and advancing the learner’s professional career, competencies and capabilities.</p><br>
			<p>Diploma: Individuals without a bachelor’s degree but with the necessary knowledge, skill, and discipline may earn a diploma credential after completing approved programs of study equivalent to a master’s degree.</p><br><br>
			<p><a id="ref1" href="#1ref">[1]</a> Not all undergraduate degree programs will properly prepare learners for FJU master’s programs and some learners may be required to take preparatory courses or provide a compelling portfolio before being eligible to join one of our master’s programs.</p>
		</div><br>
		<div class="row">
			<div class="col-md-4">
				<h3>Certificate Programs</h3><hr>
				<ul>
					<li><p>Certificate in Web programming</p></li>
					<li><p>Certificate in Mobile App Development</p></li>
				</ul><br>
				<a href="certificate-programs.html" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-md-4">
				<h3>Masters Degree Program</h3><hr>
				<p>A learner with an appropriate Bachelor’s degree or equivalent may earn this credential after two full-time semesters of approved study plus a large practicum. This is typically accomplished by taking the equivalent of 8 four-unit courses plus a 16-unit practicum.  This is equivalent to 3 semesters of study in most universities. </p><br>
				<a href="masters-degree-programs.html" class="btn btn-primary">Learn More</a>
			</div>
			<div class="col-md-4">
				<h3>Course Catalog</h3><hr>
				<ul>
					<li><p>Digital literacy</p></li>
					<li><p>Intro to Computer Science</p></li>
					<li><p>Databases</p></li>
					<li><p>Object Oriented Programming</p></li>
					<li><p>Android App Development</p></li>
					<li><p>Web App Development</p></li>
				</ul><br>
				<a href="course-catalog.html" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>