<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h1 id="heading">Domain Specializations</h1>
		<hr>
		<p>Franklin Jefferson University plans to offer full spectrum of courses and degrees for working professionals.</p><br>

		<p>Initial Domain specialization are expected to be Programming, Software Engineering, Programming Embedded Mobile systems, Web Application development, Accounting, Entrepreneurship, and Project Management.</p>

		<p>All programs will have a soft skills component that includes topics such as Stress Management, Time Management, Negotiation, Critical Reading, and Communication Skills.</p>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>