<!DOCTYPE html>
<html>
<head>
	<title>FJU Android Developer Diploma</title>
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	/*h6 {
		padding-top: 3%;
		padding-bottom: 30px;
	}*/
	.text-muted {
		color: #7d97ad;
		font-family: "Open Sans", sans-serif;
	}
	.error {
		padding-left: 1%; 
    	color: red;
    	/*font-size: 11px;*/
  	}
  	header{
		background-color: #8c1515;
    	z-index: 8000;
    	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    	position: fixed;
    	width: 100%;
	}
	h1 {
		font-size: 2.5rem;
    	line-height: 3rem;
    	font-weight: 300;
	}
	h6 {
		letter-spacing: 0.125rem;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #7d97ad;
	    font-size: 0.8125rem;
    	line-height: 1.5rem;
	}
	#small_head {
		background-color: #f2f1eb;
	}
	.logo {
		font-size: 2rem;
		font-weight: 500;
		padding: 2%;
		color: #f2f1eb;
	}
	#log{
		color: inherit;
  		text-decoration: none;
	}
</style>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="col-md-6">
				<h1 class="logo"><a id="log" href="#">Franklin Jefferson University</a></h1>
			</div>
			<!-- <div id="nav_fields" class="col-md-6 text-xs-right">
				<a href="#syllabus">Syllabus</a>
				<a href="#why_dip">Why Diploma?</a>
				<a href="#enroll_sec">Enrollment</a>
				<button class="btn btn-secondary" onclick="document.location.href='/enroll';">Enroll Now</button>
			</div> -->
		</div>
	</header>
	<div id="small_head" class="container-fluid"><br><br><br><br><br>
		<div class="col-md-3"></div>
		<div class="col-md-6 text-xs-center">
			<h6 class="text-muted">DIPLOMA PROGRAM</h6>
			<h1>Mobile App Development</h1>
			<p class="text-muted">Mastery in Building Android Apps</p>
		</div>
		<div class="col-md-3"></div>
	</div>
<div class="container">
	<!-- <h2 class="text-xs-center">Android Diploma Program</h2> -->
	<br>
	<p>Students of the diploma are required to complete 7 Android app projects in 6 - 12 months (variable duration). Student will be evaluated based on the work done on each of the 7 projects. Each project will have interim checkpoints. FJU will provide a list of open education resources in the form of MOOC, tutorials, QnA forums, etc. for the students to learn the concepts. Coach will provide an orientation for the project and will guide the student to make a project plan. This project planning would result in having a schedule for interim checkpoints for the student. Coach will use this schedule to follow up and guide the students to revise it from time to time. Student can make appointment with the coach when he/she needs help. This process goes on until the student reaching one of the interim checkpoints and at this time the coach is evaluating the work done and will provide feedback. The project plan will be revised if needed.</p>
</div><br>
<div class="container">
	<div class="row">
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 1</h6>
    		<b><h2 class="card-title">Build a Single Screen App</h2></b>
    		<p>Design and implement a simple app that displays information about a small business.</p><br><br>
    		<div><a class="btn btn-secondary" href="BuildaSingleScreenApp.pdf">Project Document</a></div>
		  </div>
		</div><br>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 2</h6>
    		<b><h2 class="card-title">Court Counter App</h2></b>
    		<p>Implement an app to track scores between two teams within a basketball game.</p><br><br>
    		<div><a class="btn btn-secondary" href="CourtCounterApp.pdf">Project Document</a></div>
		  </div>
		</div><br>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 3</h6>
    		<b><h2 class="card-title">Tour Guide App</h2></b>
    		<p>Create an app to guide a user around a city or location of your choice!</p><br><br>
    		<div><a class="btn btn-secondary" href="TourGuideApp.pdf">Project Document</a></div>
		  </div>
		</div><br>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 4</h6>
    		<b><h2 class="card-title">News App</h2></b>
    		<p>Create an app to display recent news stories on a topic of your choice using a web API.</p><br><br>
    		<div><a class="btn btn-secondary" href="NewsApp.pdf">Project Document</a></div>
		  </div>
		</div><br>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 5</h6>
    		<b><h2 class="card-title">Inventory App</h2></b>
    		<p>Create an app to track the inventory of a retail store, including current stock and supplier information.</p><br><br>
    		<div><a class="btn btn-secondary" href="InventoryApp.pdf">Project Document</a></div>
		  </div>
		</div>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 6</h6>
    		<!-- <b><h2 class="card-title">Project Name</h2></b>
    		<p>Project Overview</p><br><br>
    		<div><a class="btn btn-secondary" href="#">Project Document</a></div> -->
		  </div>
		</div>
		<div class="card card-outline-secondary  col-md-12">
		  <div class="card-block">
		    <h6 class="card-subtitle text-muted">PROJECT 7</h6>
    		<!-- <b><h2 class="card-title">Project Name</h2></b>
    		<p>Project Overview</p><br><br>
    		<div><a class="btn btn-secondary" href="#">Project Document</a></div> -->
		  </div>
		</div>
	</div>
</div>
</body>
</html>