<!DOCTYPE html>
<html>
<head>
	<title>Mobile App Developer Diploma</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="cover.css">
	<script src="https://use.fontawesome.com/7c465464d6.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	h1 {
		font-size: 2.5rem;
    	line-height: 3rem;
    	font-weight: 300;
	}
	h2 {
		font-size: 2.2rem;
    	line-height: 3rem;
    	font-weight: 300;
	}
	h4 {
		font-size: 1.5rem;
    	line-height: 3rem;
    	font-weight: 500;
	}
	h6 {
		letter-spacing: 0.125rem;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #7d97ad;
	    font-size: 0.8125rem;
    	line-height: 1.5rem;
	}
	.spl-h6 {
		letter-spacing: 0.125rem;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #55595c;
	    font-size: 1rem;
    	line-height: 1.5rem;
    	padding: 1%;
	}
	p {
		color: #525c65;
    	font-weight: 400;
    	font-size: 1.125rem;
    	line-height: 2rem;
	}
	.syllabus {
		background: #f4f4ef;
	}
	.card-block {
		height: 300px;
	}
	.spl-ul li {
		padding: 1%;
	}
	.fa-check-circle {
		margin: 1%;
		color: #15c26b;
	}
	.enrollment {
		background-color: #fafbfc;
	}
	#enrollment {
		background: #fff;
	    border: 1px solid #dbe2e8;
	    box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,0.12);
	    padding: 9%;
	}
	header{
		background-color: #8c1515;
    	z-index: 8000;
    	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    	position: fixed;
    	width: 100%;
	}
	.logo {
		font-size: 2rem;
		font-weight: 500;
		padding: 2%;
		color: #f2f1eb;
	}
	#nav_fields {
		padding-top: 2%;
	}
	#nav_fields a {
		padding: 3%;
		color: #f2f1eb;
	}
	#small_head {
		background-color: #f2f1eb;
	}
	#log{
		color: inherit;
  		text-decoration: none;
	}
</style>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="col-md-6">
				<h1 class="logo"><a id="log" href="#">Franklin Jefferson University</a></h1>
			</div>
			<div id="nav_fields" class="col-md-6 text-xs-right">
				<a href="#syllabus">Syllabus</a>
				<a href="#why_dip">Why Diploma?</a>
				<a href="#enroll_sec">Enrollment</a>
				<button class="btn btn-secondary" onclick="document.location.href='/enroll';">Enroll Now</button>
			</div>
		</div>
	</header>
	<div id="small_head" class="container-fluid"><br><br><br><br><br>
		<div class="col-md-3"></div>
		<div class="col-md-6 text-xs-center">
			<h6 class="text-muted">DIPLOMA PROGRAM</h6>
			<h1>Mobile App Development</h1>
			<p class="text-muted">Mastery in Building Android Apps</p>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-4"><br>
				<p>Franklin Jefferson University’s Mobile Applications Development diploma program consists of a series of Learn by Doing projects designed to help you attain a mastery in the job-relevant skills and build a portfolio to show prospective employers. The diploma program requires completing seven projects. You can see a list of these projects below.</p>
			</div>
			<div class="col-md-8 text-xs-right">
				<img style="border: 1px solid #ccc; box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,0.12);" width="100%" height="350px" src="banner.png">
				<!-- <p>Android apps are everywhere, and learning to build them can be a fantastic career move. No programming experience? No problem! The skills you learn in this beginning program will accelerate your journey to becoming a working Android Developer.</p>
				<p>Learn the Java language, and start building amazing new apps for those billion (and counting!) Android devices!</p> -->
			</div>
			<!-- <div class="col-md-2"> -->
				<!-- <h4>Prerequisites and Requirements</h4>
				<ul class="spl-ul" style="list-style-type: none;">
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> A Laptop compiatable for Android Studio</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Reliable High-end Internet Connection</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Basic Computer Skills which include managing files, navigating through Internet and running programs.</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Proficiency in English, Math and Reasoning, to be able to understand the course content</li>
				</ul> -->
			<!-- </div> -->
		</div>
	</div><br>
	<div id="syllabus" class="syllabus container-fluid"><br><br><br><br><br>
		<div class="container">
			<h2 class="text-xs-center">Course Projects</h2><br>
			<div>
				<h6 class="spl-h6">BASIC LEVEL</h6>
				<div class="row" style="display: flex">
				    <div class="col-sm-4">
				      	<div class="card card-outline-success">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 1</h6>
						    	<h4>Build a Single Screen App</h4><br>
						      	<p style="font-size: 1rem">Design and implement a simple app that displays information about a small business.</p>
						      	<!-- <footer><cite><a href="BuildaSingleScreenApp.pdf">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-sm-4">
				      	<div class="card card-outline-success">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 2</h6>
						    	<h4>Court Counter App</h4><br>
						      	<p style="font-size: 1rem">Implement an app to track scores between two teams within a basketball game.</p>
						      	<!-- <footer><cite><a href="CourtCounterApp.pdf">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-sm-4">
				      	<div class="card card-outline-success">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 3</h6>
						    	<h4>Report Card</h4><br>
						      	<p style="font-size: 1rem">Create a custom Java class to model the information in a student report card.</p>
						      	<!-- <footer><cite><a href="#">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				</div><br>
				<h6 class="spl-h6">INTERMEDIATE LEVEL</h6>
				<div class="row" style="display: flex">
				    <div class="col-sm-4">
				      	<div class="card card-outline-warning">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 4</h6>
						    	<h4>Tour Guide App</h4><br>
						      	<p style="font-size: 1rem">Create an app to guide a user around a city or location of your choice!</p>
						      	<!-- <footer><cite><a href="TourGuideApp.pdf">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-sm-4">
				      	<div class="card card-outline-warning">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 5</h6>
						    	<h4>News App</h4><br>
						      	<p style="font-size: 1rem">Create an app to display recent news stories on a topic of your choice using a web API.</p>
						      	<!-- <footer><cite><a href="NewsApp.pdf">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-sm-4">
				      	<div class="card card-outline-warning">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 6</h6>
						    	<h4>Habit Tracker App</h4><br>
						      	<p style="font-size: 1rem">Create an app to track your habits! Supporting course content coming in August!</p>
						      	<!-- <footer><cite><a href="#">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				</div><br>
				<h6 class="spl-h6">ADVANCED LEVEL</h6>
				<div class="row">
				    <div class="col-sm-12">
				      	<div class="card card-outline-danger">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>PROJECT 7</h6>
						    	<h4>Inventory App</h4><br>
						      	<p style="font-size: 1rem">Create an app to track the inventory of a retail store, including current stock and supplier information.</p>
						      	<!-- <footer><cite><a href="InventoryApp.pdf">Project Document</a></cite></footer> -->
						    </blockquote>
						  </div>
						</div>
				    </div>
				</div><br>
			</div>
		</div>
	</div>
	<div id="why_dip" class="container"><br><br><br><br><br>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2 class="text-xs-center">Why Take This Diploma Program?</h2><br>
				<h6 class="spl-h6">Our Diploma Program</h6>
				<div style="padding-left: 3%">
					<p>Our Diploma Program provides a mastery based learn by doing education to teach the skills that your prospective employers care for. You will not only learn the hard technical skills but also put to practice the meta skills required to work as a professional android developer.</p>
					<!-- <p>The bulk of the program consists of completing seven projects, accompanied by courses​. You can see a list of these projects and courses in your FJU Home ​after you enroll.</p>
					<p>To help you pace yourself, each project has its own deadline ​-- ​a date by which the project must be submitted -- that you’ll need to reach in order to make good progress in your Diploma program. You’ll find your deadlines in your FJU Home.</p> -->
				</div><br>
				<h6 class="spl-h6">What Do I get?</h6>
				<ul class="spl-ul" style="list-style-type: none;">
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Personalized feedback on projects</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Access to course materials</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Diploma from FJU</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i> Forums and FAQs</li>
					<!-- <li><i class="fa fa-check-circle" aria-hidden="true"></i> Best-in-class courses taught by expert instructors</li> -->
				</ul>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div> <br>
	<div id="enroll_sec" class="enrollment container-fluid"><br><br><br><br><br>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="text-xs-center col-md-8">
				<h2 class="text-xs-center">Enrollment</h2>
				<!-- <p>Learning with FJU means getting you exactly where you want to be in your career.</p> -->
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="text-xs-left" id="enrollment">
							<h4>Pre-requisites</h4>
							<ul class="spl-ul" style="list-style-type: none;">
								<li><i class="fa fa-check-circle" aria-hidden="true"></i> A laptop computer with internet access good for
								<ul>
									<li>Skype Calls</li>
									<li>Watching Videos</li>
									<li>Using Android Studio</li>
								</ul>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i> Two Entrance Tests:
									<ul>
										<li>General Competency Test</li>
										<li>Programming Test</li>
									</ul>
								</li>
								</li>
<!-- 								<li><i class="fa fa-check-circle" aria-hidden="true"></i> Diploma from FJU</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i> Forums and FAQs</li> -->
							</ul>
							<!-- <h5>Graduate in 6 Months</h5> -->
						</div>
						<div class="text-xs-right" style="background-color: #eceeef; padding: 5%;">
							<div class="col-md-6 text-xs-left"><b>Rs. 60,000 for 6 Months</b></div>
							<a href="/enroll" class="btn btn-primary">Enroll Now</a>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div><br><br>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>