<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script async src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
<div id="navbar_field"></div>
<div class="container"><br>
	<h2 id="heading">Learning Process</h2>
	<hr>
	<p><b>Learning to Learn:</b> The most important goal at FJU is learning to learn.  Our Learning-By-Doing style of education requires some discipline and it may take some time before it feels comfortable.  We believe active learning is more effective than listening to lectures and taking tests.</p><br>

	<p><b>The Preparatory Course:</b> Every learner joining FJU must take an initial Preparatory Course, regardless of which degree or certificate is being sought.  In addition to introducing you to your coach, by the end of this course, you will be able to:</p>
	<ul style="font-size: 16px; color: black">
		<li><p>Use your computer and other Internet connected devices safely and effectively to access and use our learning materials, on-line tools, and program specific materials and tools.</p></li>
		<li><p>Access and effectively use key sources of information you will be expected to use, along with other sources you will discover, during your studies.</p></li>
		<li><p>Follow our “learning to learn” approach to proactively gather and integrate information, build insights, develop skills, assess capabilities, effectively receive feedback, and practice as needed to improve in order to become less dependent on others.</p></li>
		<li><p>Demonstrate the willingness and ability to understand and follow both the letter and the spirit of instructions and establish a schedule and then follow it.</p></li>
		<li><p>Continue toward becoming an independent, self-directed, life-long learner.</p></li>
	</ul>

	<p>Preparatory courses are typically four weeks in length, but some learners will move through them much more quickly.</p><br>

	<p><b>Typical Courses:</b> A course consists of a collection of information that must be learned, a related set of exercises and practice activities to help you develop skills and integrate your new knowledge, and practical project to integrate the lessons and to start the acquisition of skill.  Courses are taken sequentially and are designed for working professionals to complete working evenings and weekends working roughly 20 hours each week.  A three-credit-hour course taken half-time will take 4 weeks to complete.  These courses provide the breadth and depth and when take together properly provide the knowledge and the skills required to achieve the program goals.  </p><br>

	<p><b>Practicum Projects:</b> Effective learning happens best when the lessons can be practiced doing work that is as close to the work one would do on the job, using the same tools and processes, as possible.  FJU provides this context-rich, immersive, practice experiences on realistic if not on real projects.  Projects are drawn from the real work and from FJU partner organizations.</p><br>

	<p>Details: <a href="learning-process---details.html">To learn more, click on this link to see a white paper on FJU's Learning Process</a></p>
</div>

</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>