<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img class="dp" src="templates/img/carter.png">
			</div>
			<div class="col-md-10 details">
				<h2 class="designation">Dean of Faculty</h2>
				<hr>
				<p>Dr. Lynn Robert Carter</p>
				​<p>Professor, Dean</p>
				<br>
			</div>
		</div>
		<div class="row col-md-12">
			<p>Dr. Lynn Robert Carter is the Executive Academic Chair (Dean) of the School of Information Technology at Aspen University, Denver Colorado, from October 2013.  He is also one of the Founding Partners of Carter | Radley | Williams, Louisville, Colorado and is an Associate Teaching Professor responsible for the Software Engineering Specialization at MSIT Hyderabad, Gachibowli, Hyderabad, India, from 2007.</p>
			<p>​Dr. Carter served the Carnegie Mellon University community for 23 years starting August 1989. He was the most senior academic for iCarnegie Global Learning from January 2011 through July 2012. He and his team established the curricula for all of the undergraduate degree programs, interviewed and hired the faculty, hired the Dean, and served as the Founding Chief Academic Officer for Nazarbayev University’s School of Science and Technology, Astana, Kazakhstan.</p>
			<p>​Dr. Carter served as a Principal Fellow and Associate Teaching Professor in the Computer Science Department of Carnegie Mellon University’s Qatar Campus from April 2006 through December 2010.</p>
			<p>​Dr. Carter served as a Principal Fellow at Carnegie Mellon University’s West Coast Campus where we lead the teams that created and taught a pair of fully on-line, learning-by-doing, story-centered professional master’s programs (Software Engineering and Master of Software Systems Development) and continued support for the SSN School of Advanced Software Engineering, Chennai, India from January 2003 through April 2006.</p>
			<p>Dr. Carter held a dual appointment at the Software Engineering Institute and the Institute for Software Research International, providing software engineering research and transitions support (including confidential and classified work) for the Department of Defense and developing/teaching on-line master’s courses, serving as the primary contact in the collaboration with the SSN School of Advanced Software Engineering, Chennai, India, and researching the requirements for and heading the implementation of the two programs for the West Coast Campus, from January 2000 through December 2002.</p>
			<p>Dr. Carter served as a Senior Member of the Technical Staff at the Software Engineering Institute where he worked to improve software engineering technology adoption and usage success of major Department of Defense, other governmental units, and major commercial firms, from August 1989 through December 2000.</p>
			<p>Dr. Carter served as a leader, researcher, software engineer, and individual contributor at Tektronix, Inc. (1973 – 1981); Motorola Microsystems (1982-1983); GenRad Designs (1983 – 1986); and several start-ups (1986 – 1989).  He taught an array of Computer Science courses at various universities from September 1971 until joining CMU in 1989.</p>
			<p>Dr. Carter was a Member of IFIP Working 2.4 from 1982 (now Member Emeritus) and earned the coveted IFIP Silver Core Award, in 1986, Dublin.  He served as a Computing Accreditation Commissioner and member of the Executive Committee for the Computing Accreditation Commission, ABET, for 11 years.  He also served ABET’s predecessor, CSAB, for three years.</p>
			<p>Dr. Carter holds a doctor of philosophy in Computer Science from the University of Colorado at Boulder, a master’s and bachelor's degree in  mathematics with a specialization in Computer Science from Portland State University.</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>