<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h2 id="heading">Merit Scholarships</h2>
		<hr>
		<ul style="font-size: 16px; color: black">
			<li><p>In addition to bringing high quality education to the masses at affordable cost, FJU offers scholarships to students who demonstrate academic excellence and ability to take on FJU's rigorous curriculum.</p></li>
			<li><p>Scholarships range from 20% to 100% of tuition. The amount of scholarship any student will receive will depend on their individual performance in the admission test, the student interview and the funds FJU has available for scholarships in any given year.</p></li>
			<li><p>The student counselor will review your options during the counseling process.</p></li>
		</ul><br>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>