<!DOCTYPE html>
<html>
<head>
	<title>Programming, Algorithms & Data Structures Diploma</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/googleanalytics.js"></script>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/cover.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<link rel="stylesheet" type="text/css" href="css/navbar_custom.css"> -->
	<!-- <link href="css/bootstrap.css" type="text/css" rel="stylesheet"> -->
</head>
<style type="text/css">
	#navbar_field {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
	}
</style>
<body>
      <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#">Franklin Jefferson University</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="color: white">
              <li class="hidden-xs" style="padding: 0px; padding-right: 20px; margin: 0px; "><a href="http://fju-online.appspot.com" style="padding: 0px"> <img id="logo" src="img/fju.jpg"> </a></li>
              <li>
              	<a href="#">About Us<span class="carat visible-xs"></span></a>
                <ul class="dropdown-menu">
                  	<li><a href="templates/">About FJU</a></li>
      	        		<li><a href="templates/leadership.html">Leadership</a></li>
      	        		<li><a href="templates/target-student-body.html">Target Student Body</a></li>
      	        		<li><a href="templates/type-of-delivery.html">Type of Delivery</a></li>
      	        		<li><a href="templates/affordable-cost.html">Affordable Cost</a></li>
      	        		<li><a href="templates/domain-specializations.html">Domain Specializations</a></li>
              	</ul>
          	  </li>		
              <li class="hidden-sm"><a href="templates/teaching-process.html">Teaching Process</a></li>
              <li class="hidden-md hidden-sm"><a href="templates/learning-process.html">Learning Process</a></li>
              <li>
              	<a href="#">Degrees & Programs<span class="carat visible-xs"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="templates/certificate-programs.html">Certificate Programs</a></li>
                  <li><a href="templates/masters-degree-programs.html">Masters Degree Programs</a></li>
                  <li><a href="templates/course-catalog.html">Course Catalog</a></li>
                </ul>
              </li>
              <li>
              	<a href="#"> Admissions <span class="carat visible-xs"></span></a>
                <ul class="dropdown-menu">
                  	<li><a href="templates//application-process.html">Application Process</a></li>
					<li><a href="templates//admission-test.html">Admission Test</a></li>
					<li><a href="templates//interview--counseling.html">Interview &amp; Counseling</a></li>
					<li><a href="templates//tuition.html">Tuition</a></li>
					<li>
						<a href="#">Financial Aid <span class="carat"></a>
						<ul class="dropdown-menu">
							<li><a href="templates//merit-scholarships.html">Merit Scholarships</a></li>
							<li><a href="templates//foundation-scholarships.html">Foundation Scholarships</a></li>
							<li><a href="templates//company-sponsorships.html">Company Sponsorships</a></li>
							<li><a href="templates//need-based-scholarships.html">Need based Scholarships</a></li>
							<li><a href="templates//deferred-tuition.html">Deferred Tuition</a></li>
							<li><a href="templates//teaching-assistant.html">Teaching Assistant</a></li>
						</ul>
					</li>
              	</ul>
          	  </li>
          	  <li class="hidden-md hidden-sm">
              	<a href="#">Diploma Programs<span class="carat visible-xs"></span></a>
                <ul class="dropdown-menu">
                  	<li><a href="/diploma">Mobile App Development Diploma</a></li>
	        		      <!-- <li><a href="/diplomaprogramming_diploma" target="_blank">Programming Diploma</a></li> -->
              	</ul>
          	  </li>
          	  <li class="hidden-md hidden-sm"><a href="templates/contact-us.html">Contact Us</a></li>
          	  <li class="visible-sm visible-md">
          	  	<a href="#">More..</a>
          	  	<ul class="dropdown-menu"> 
                  <li class="visible-sm"><a href="templates/teaching-process.html">Teaching Process</a></li>
                  <li class="visible-sm visible-md"><a href="templates/learning-process.html">Learning Process</a></li>
          	  		<li>
		              	<a href="#">Diploma Programs<span class="carat visible-xs"></span></a>
		                <ul class="dropdown-menu">
		                  	<li><a href="/diploma">Mobile App Development Diploma</a></li>
			        		<!-- <li><a href="/diplomaprogramming_diploma" target="_blank">Programming Diploma</a></li> -->
		              	</ul>
		          	  </li>
          	  		<li><a href="templates/contact-us.html">Contact Us</a></li>
          	  	</ul>
          	  </li>
              <!-- <li class="visible-sm">
                <a href="#">More..</a>
                <ul class="dropdown-menu"> 
                  <li class="hidden-sm"><a href="templates/teaching-process.html">Teaching Process</a></li>
                  <li><a href="templates/learning-process.html">Learning Process</a></li>
                  <li>
                    <a href="#">Diploma Programs<span class="carat visible-xs"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/diploma" target="_blank">Mobile App Development Diploma</a></li>
                        <li><a href="/diplomaprogramming_diploma" target="_blank">Programming Diploma</a></li>
                    </ul>
                  </li>
                  <li><a href="templates/contact-us.html">Contact Us</a></li>
                </ul>
              </li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="/js/jquery.smartmenus.bootstrap.js"></script>
<script type="text/javascript">
	$(document).on('click','.navbar-collapse.in',function(e) {
	    if($(e.target).hasClass('has-submenu') ) {
	    	var nextSibling = $(this).next();
		    nextSibling.toggleClass("open");  
		    $('.open').not(nextSibling).removeClass('open');
	    }
	});
</script>
</html>