<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
<div id="navbar" class="container-fluid">
    <div id="nav" class="row">
        <div id="logofield" class="col-md-1">
            <a href="/"> <img id="logo" src="img/fju.jpg"> </a>
        </div>
        <div id="navfields" class="col-md-11">
        	<div class="row">
        		<div class="navfield col-md-2 dropdown"> 
		        	<a href="/">ABOUT US</a>
		            <div class="dropdown-content"> 
		            	<a href="/">About FJU</a> 
		        		<a href="leadership.html">Leadership</a> 
		        		<a href="target-student-body.html">Target Student Body</a> 
		        		<a href="type-of-delivery.html">Type of Delivery</a> 
		        		<a href="affordable-cost.html">Affordable Cost</a> 
		        		<a href="domain-specializations.html">Domain Specializations</a> 
		        	</div>
		    	</div>
		        <div class="navfield col-md-2"> 
		        	<a href="teaching-process.html">TEACHING PROCESS</a> 
		        </div>
		        <div class="navfield col-md-2"> 
		        	<a href="learning-process.html">LEARNING PROCESS</a> 
		        </div>
		        <div class="navfield col-md-2 col-sm-3 dropdown"> 
		        	<a href="degrees--programs.html">DEGREES & PROGRAMS</a>
		            <div class="dropdown-content"> 
		            	<a href="certificate-programs.html">Certificate Programs</a> 
		        		<a href="masters-degree-programs.html">Masters Degree Programs</a> 
		        		<a href="course-catalog.html">Course Catalog</a> 
		        	</div>
		        </div>
		        <div class="navfield col-md-2 dropdown"> 
		        	<a href="#"> ADMISSIONS </a>
		            <div class="dropdown-content"> 
		            	<a href="certificate-programs.html">Certificate Programs</a> 
		        		<a href="masters-degree-programs.html">Masters Degree Programs</a> 
		        		<a href="course-catalog.html">Course Catalog</a> 
		        	</div>
		        </div>
		        <div class="navfield col-md-2 dropdown"> 
		        	<a href="#">MORE...</a>
		            <div class="dropdown-content">  
		        		<a href="contact-us.html">Contact Us</a> 
		        		<a href="http://apply-973.appspot.com/apply-pin.html" target="_blank">Apply Now</a> 
		        		<a href="http://fju-diploma.appspot.com/" target="_blank">	Mobile App Development Diploma</a> 
		        	</div>
		        </div>
        	</div>
        </div>
    </div>
</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>