<div class="sticky-wrapper" style="height: 80px;">
		<div class="row2 stuck">
			<div class="container1">
				<table id="header">
					<tbody>
						<tr>
							<td id="logo">
								<span class="wsite-logo">
									<a href="http://www.fju.us/">
										<img src="./Franklin Jefferson University_files/1438414422.png" style="margin-top:7px;margin-left:3px;">
									</a>
								</span>
							</td>
							<td id="nav">
								<ul class="wsite-menu-default">
									<li id="active" class="wsite-menu-item-wrap     wsite-nav-1" style="position: relative;">
										<a href="http://www.fju.us/" class="wsite-menu-item" style="position: relative;">
											About us
										</a>
									</li>
									<li id="pg999621893231744982" class="wsite-menu-item-wrap     wsite-nav-2" style="position: relative;">
										<a href="http://www.fju.us/teaching-process.html" class="wsite-menu-item" style="position: relative;">
											Teaching Process
										</a>
									</li>
									<li id="pg552866978373626961" class="wsite-menu-item-wrap     wsite-nav-3" style="position: relative;">
										<a href="http://www.fju.us/learning-process.html" class="wsite-menu-item" style="position: relative;">
											Learning Process
										</a>
									</li>
									<li id="pg239738603549033066" class="wsite-menu-item-wrap     wsite-nav-4" style="position: relative;">
										<a href="http://www.fju.us/degrees--programs.html" class="wsite-menu-item" style="position: relative;">
											Degrees &amp; Programs
										</a>
									</li>
									<li id="pg154980209496661510" class="wsite-menu-item-wrap     wsite-nav-5" style="position: relative;">
										<a href="http://www.fju.us/admissions.html" class="wsite-menu-item" style="position: relative;">
											Admissions
										</a>
									</li>
									<li id="pg350477275475867026" class="wsite-menu-item-wrap   wsite-nav-6" style="position: relative; display: list-item;">
										<a href="http://www.fju.us/contact-us.html" class="wsite-menu-item" style="position: relative;">
											Contact Us
										</a>
									</li>
									<li id="pg257552255400159436" class="wsite-menu-item-wrap " style="position: relative; display: none;">
										<a href="http://apply-973.appspot.com/apply-pin.html" target="_blank" class="wsite-menu-item" style="position: relative;">
											Apply Now
										</a>
									</li>
									<li id="pg126804662626671551" class="wsite-menu-item-wrap " style="position: relative; display: none;">
										<a href="http://www.fju.us/teaching-process---details.html" class="wsite-menu-item" style="position: relative;">
											Teaching Process - Details
										</a>
									</li>
									<li id="pg651121505615679035" class="wsite-menu-item-wrap " style="position: relative; display: none;">
										<a href="http://www.fju.us/learning-process---details.html" class="wsite-menu-item" style="position: relative;">
											Learning Process - Details
										</a>
									</li>
									<li id="pg278069110193387436" class="wsite-menu-item-wrap " style="position: relative; display: none;">
										<a href="http://fju-diploma.appspot.com/" target="_blank" class="wsite-menu-item" style="position: relative;">
											Android Developer Diploma
										</a>
									</li>
									<li class="wsite-menu-item-wrap wsite-nav-more    wsite-nav-7" style="position: relative; display: list-item;">
										<a href="http://www.fju.us/#" class="wsite-menu-item" id="wsite-nav-more-a" style="position: relative;">more...
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- end container -->
		</div>
	</div><!-- end row2 -->
	<div id="small_head" class="col-md-6 text-xs-center"><br>
		<!-- <h1 class="logo">
			<a id="log" href="#">
				<img style="border: 1px solid black; border-radius: 50%;" src="logo.png"> &nbsp;Franklin Jefferson University
			</a>
		</h1> -->
		<br><br>
		<h6>ONLINE DIPLOMA PROGRAM</h6>

		<h1>Mobile App Development</h1>

		<p >Mastery in Building Android Apps</p>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
	<div style="padding: 0px;" class="container-fluid text-xs-right">
		<img style="border: 0px solid #ccc;" width="100%" height="350px" src="banner2.png">
	</div>