<!DOCTYPE html>
<html>
<head>
	<title>FJU Android Developer Diploma</title>
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
  	<h1 class="navbar-brand col-md-9">
  		<a class="navbar-brand" href="#">Franklin Jefferson University</a>
  	</h1>
</nav><br>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<b><p>Aww! Looks like you do not have enough permissions to view this page.</p></b>
			<p>You can: </p>
			<ul>
				<li><a href="{{ url|safe }}">Try using Another Email ID.</a></li>
				<li>Report an issue at <a href="#">vy@fju.us</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>