<!DOCTYPE html>
<html>
<head>
	<title>Programming, Algorithms & Data Structures Diploma</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/cover.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<link rel="stylesheet" type="text/css" href="css/navbar_custom.css">
</head>
<style type="text/css">
	#navbar_field {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
	}
</style>
<body>
	<div id="navbar_field"></div>
	<div id="small_head" class="container col-md-12 text-xs-center"><br><br><br>
		<h1>Programming, Algorithms & Data Structures</h1>
		<h3 style="font-weight: 100;">Online Diploma Program</h3>
		<h5 style="font-weight: 100;">Learn to Code. Mastery in 6 Months</h5><br><br>
		<div>
			<div id="nav_fields" class="text-xs-center">
				<div class="col-md-1"></div>
				<a class="col-md-2" href="#" style="color: #c2c2e0">Overview</a>			
				<a class="col-md-2" href="#syllabus" style="color: #c2c2e0">Course Projects</a>
				<a class="col-md-2" href="#why_dip" style="color: #c2c2e0">Why Diploma?</a>
				<a class="col-md-2" href="#tuition" style="color: #c2c2e0">Tution</a>
				<a class="col-md-2" href="#enroll_sec" style="color: #c2c2e0">Enrollment</a>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div> <!-- banner -->
	
	<div style="padding:0px; " class="container">
		<div style="font-size:18px;" class="col-md-12 text-xs-left"><br>
			<p style="color: black">This introductory Diploma program teaches you the foundational skills all programmers use, whether they program mobile apps, create web pages, or analyze data. It is ideal for beginners who want to learn new skills, and set themselves up for success in career-track Diploma programs. The curriculum of the program consists of a series stages designed to help students attain mastery in foundational programming skills. The list of five stages to be completed is given below:</p><br>
		</div>
	</div> <!-- description field -->
	
	<br>
	<br>
	<br>
	
	<div id="syllabus" class="syllabus container" style=""><br><br><br><br><br><br>
		<div class="container">
			<h2 class="text-xs-center">Courses: </h2>
			<br>
			<div>
				<!-- <h6 class="spl-h6">BASIC LEVEL</h6> -->
				<div class="row">
				    <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 1</h6> 
						    	<h4 style="color: black">Computer Science and Programming Principles - 1</h4>
						      	<p style="font-size: 1rem"></p><br>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br></p>
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 2</h6>
						    	<h4 style="color: black">Computer Science and Programming Principles - 2</h4>
						      	<p style="font-size: 1rem"></p><br>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br></p>
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 3</h6>
						    	<h4 style="color: black">Algorithms and Data Structures - 1</h4>
						      	<p style="font-size: 1rem"></p><br>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br></p>
						    </blockquote>
						  </div>
						</div>
				    </div>
				</div><br>
				<!-- <h6 class="spl-h6">INTERMEDIATE LEVEL</h6> -->
				<div class="row">
				    <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 4</h6>
						    	<h4 style="color: black">Algorithms and Data Structures - 2</h4>
						      	<p style="font-size: 1rem"></p><br>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br></p>
						    </blockquote>
						  </div>
						</div>
				    </div>
				    <!-- <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 5</h6>
						    	<h4 style="color: black">Payment & Shipment Tracking</h4>
						      	<p style="font-size: 1rem">Integrate a payment screen into the Store App and also add a facility to track shipment.</p>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br>Integrating Payment Gateway, Store the shipping details, Tracking Shipment.</p><br>
						    </blockquote>
						  </div>
						</div>
				    </div> -->
				    <!-- <div class="col-md-4">
				      	<div class="card">
						  <div class="card-block">
						    <blockquote class="card-blockquote">
						    	<h6>Stage 6</h6>
						    	<h4 style="color: black">Product Review and Ratings</h4>
						      	<p style="font-size: 1rem">Implement a Review and Ratings section which allows users to read and write reviews and give ratings.</p><br>
						      	<p style="font-size: 1rem"><b style="color: #373a3c">Topics Covered: </b><br>Intro to Databases, Using SQLite Database to store and retrieve Data, Visual Polishing.</p>
						    </blockquote>
						  </div>
						</div>
				    </div> -->
				</div>
				<br>
			</div>
		</div>
	</div> <!-- course projects -->
	
	<div id="why_dip" class="container" ><br><br><br><br><br>
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-xs-center">Why Take This Diploma Program?</h2><br>
				<h6 class="spl-h6">Our Diploma Program</h6>
				<div style="padding-left: 3%">
					<p>If you’re ready to develop foundational programming skills, and ready to reap the benefits of a rigorous and cutting-edge learning program, but aren't sure about which path is right for you, this is the ideal choice. All successful programmers share a common body of knowledge. This program will give you that knowledge. It will enhance your skills, and broaden your opportunities. It is not a career-track degree, but it is a critical step forward.</p>
				</div>
				<h6 class="spl-h6">Why FJU?</h6>
				<ul class="spl-ul" style="list-style-type: none; font-size: 18px">
					<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> <b>Personalised feedback</b> on projects</li>
					<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> <b>Access to a library</b> of open educational resources</li>
					<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> <b>Diploma</b> from FJU</li>
					<li><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> <b>Access to Forums</b> and FAQs</li>
				</ul>
			</div>
		</div>
	</div> <!-- why diploma -->
	
	<div  id="tuition" class="container"><br><br><br><br><br>
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-xs-center">Tution</h2><br><br>
				<p class="text-xs-left">In India, fee for our Diploma program is <b>Rs. 60,000 for 6 Months.</b> Students who do not complete the diploma in 6 months can continue to study by paying a fee of <b>Rs. 10,000 per month after 6 months.</b></p>
				<p class="text-xs-left">In U.S, fee for our Diploma program is <b>1500 USD for 6 Months.</b> Students who do not complete the diploma in 6 months can continue to study by paying a fee of <b>250 USD per month after 6 months</b>.</p><br><br>
				</ul>
			</div>
		</div><br><br><br><br><br><br><br><br>
	</div> <!-- tution -->
	
	<div id="enroll_sec" class="enrollment container text-xs-center"><br><br><br><br><br>
		<div class="row">
			<div class="text-xs-center col-md-12">
				<h2 class="text-xs-center">Enrollment</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="text-xs-left" >
							<br>
							<p>The following prerequisites are required for admission into this diploma program.</p>
							<ul class="spl-ul" style="list-style-type: none; font-size: 18px; padding-left: 30px">
								<li>
									<i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> 
									Must be a <b>Graduate</b> or about to complete Graduation by the time the diploma program starts.
								</li>
								<li>
									<i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> 
									Must have a <b>Laptop</b> Computer. See <a href="https://docs.google.com/document/d/18VwgUL0zkc_H_lD4wldeWMTGpicWRMSB0XMhwNpMVZs/edit?usp=sharing" target="_blank" style="color: blue">laptop specifications.</a> 
								</li>
								<li>
									<i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> 
									Must have a <b>High-Speed Broadband connectivity</b> with a minimum bandwidth of <b>2 Mbps.</b>
								</li>
								<li>
									<i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> 
									<a href="/enroll" style="color: blue" target="_blank"> Register</a> and pay <b>Rs. 500 Entrance Test Fee.</b>
								</li>
								<li>
									<i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i> 
									Take <b>Skype based Proctored Entrance Test</b> and pass.
									<ul style="padding-left:70px; margin-bottom: 10px">
										<li>
											<a href="https://docs.google.com/document/d/1fSixilv3WsIey-bkPG5bAFj-RtyjAMOIk4paGeOlfiU/edit?usp=sharing" style="color: blue" data-toggle="modal" data-target="#gct">General Competency Test</a>
										</li>
										<!-- <li>
											<a href="https://docs.google.com/document/d/1rV7_knadv3Wh-vG1Tob9pb0AwyTg_5H2kvWdICkElFc/edit?usp=sharing" style="color: blue" data-toggle="modal" data-target="#pct">Programming Competency Test</a>
										</li> -->
									</ul>
								</li>
							</ul>

							<div class="modal fade" id="gct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999;">
							  <div class="modal-dialog" role="document" style="max-width: 930px">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							        <h4 class="modal-title text-xs-center" id="myModalLabel">General Competency Test</h4>
							      </div>
							      <div class="modal-body">
							      	<h5>What is General Competency Test?</h5>
							      	<p style="font-size: 16px; margin-bottom: 0px">General Competency Test is a Skype based online proctored examination to evaluate your PUC level skills. This test consists of two components:</p>
							      	<ul style="padding-left: 70px; margin-bottom: 0px">
							      		<li>Aptitude Test</li>
							      		<li>English Language Comprehension Test</li>
							      	</ul>
							      	<p style="font-size: 16px">Aptitude test is for 30 minutes and evaluates your quantitative, analytical, reasoning and verbal skills.<br>English Language comprehension Test is for 25 minutes and evaluates your capability of reading, listening, speaking and writing in English.</p>
							      	<br>
							      	<h5>How do I take the Test?</h5>
							      	<p style="font-size: 16px">This test is given through an online test portal. To take the exam you must <a href="/diploma/enroll" style="color: blue">register</a> for the diploma program. Link to the test portal and instructions to get started will be communicated through an email at registered email address.<br>Requirements: <br>Before you can begin the test, make sure that Skype is installed in your laptop. If it is not installed you can get it <a href="https://www.skype.com/en/download-skype/skype-for-computer/" style="color: blue">here</a>.</p>
							      	<h5>What are the Test Dates?</h5>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>

<!-- 							<div class="modal fade" id="pct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999; width: ">
							  <div class="modal-dialog" role="document" style="max-width: 930px">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							        <h4 class="modal-title text-xs-center" id="myModalLabel">Programming Competency Test</h4>
							      </div>
							      <div class="modal-body">
							      	<h5>What is Programming Competency Test?</h5>
							      	<p style="font-size: 16px; margin-bottom: 0px">Programming Competency Test is a Skype based proctored examination to evaluate your Coding skills.</p>
							      	<br>
							      	<h5>How do I take the Test?</h5>
							      	<p style="font-size: 16px">To take the exam you must <a href="/diploma/enroll" style="color: blue">register</a> for the diploma program. Questions and instructions to get started will be communicated through an email at registered email address.<br>Requirements: <br>Before you can begin the test, make sure that Skype is installed in your laptop. If it is not installed you can get it <a href="https://www.skype.com/en/download-skype/skype-for-computer/" style="color: blue">here</a>.</p>
							      	<h5>What are the Test Dates?</h5>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div> -->
						</div>
						<div class="text-xs-center" style="background-color: transparent; padding: 5%; padding-top: 0px">
							<!-- <small>If all the above pre-requisites are met you may proceed to the Enrollment Page.</small><br><br> -->
							<a href="/enroll" class="btn btn-primary">Enroll Now</a>
						</div>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div> <!-- enroll -->

</body>
<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript">
	$('#logo_affix').hide();
	var stickyNav = $('#nav_fields').offset().top;

	$(window).scroll(function() {  
	    if ($(window).scrollTop() > stickyNav) {
	        $('#nav_fields').addClass('affix');
	        $('#logo_affix').show();
	    }
	    else {
	        $('#nav_fields').removeClass('affix');
	        $('#logo_affix').hide();
	    }  
	});
</script>
<script type="text/javascript">
	$.get("/navbar", function(data){
		$("#navbar_field").replaceWith(data);
	});
</script>
</html>