<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img class="dp" src="templates/img/rajreddy.jpg">
			</div>
			<div class="col-md-10 details">
				<h2 class="designation">Chairman</h2>
				<hr>
				<p>Dr. Raj Reddy</p>
				​<p>Moza Bint Nasser University Professor of Computer Science and Robotics</p>
				<p>Carnegie Mellon University, Pittsburgh, PA, USA</p>
				<br>
			</div>
		</div>
		<div class="row col-md-12">
			<p>Dr. Raj Reddy is the Moza Bint Nasser University Professor of Computer Science and Robotics in the School of Computer Science at Carnegie Mellon University (CMU). At CMU, he served as the founding Director of the Robotics Institute from 1979 to 1991 and as the Dean of School of Computer Science from 1991 to 1999. His research interests include Artificial Intelligence (Speech, Vision, Robotics), Education Technologies, Gigabit Networks, and FTTV (Fiber To The Village Project), Digital Libraries, Role of ICT in developing economies in the areas of Education, Multimedia Human Computer Interfaces and Learning without a teacher (Learning by Doing, Learning from Example and Discovery).</p>
			<p>​Dr. Reddy is the Chancellor of Rajiv Gandhi University of Knowledge Technologies in India. This University was funded by the local government based on Dr. Reddy’s vision of educating high achieving students from rural areas and mostly economically disadvantaged families. This University has 18,000 students across 3 campuses. The students use Learning by Doing methodology for all coursework and graduate with an Engineering degree of their choice. The entire cost including tuition, laptop computers, room and board is borne by the government. Many other entities both public and private are in the process of emulating this model in other regions of India.</p>
			<p>​Dr. Reddy is a Fellow of the Institute of Electrical and Electronics Engineers (IEEE), the Acoustical Society of America (ASA) and the American Association for Artificial Intelligence (AAAI). He is a Member of the National Academy of Engineering (NAE) and the American Academy of Arts and Sciences (AAAS). He is also a Foreign Fellow of the Chinese Academy of Engineering (CAE), the Indian National Science Academy (INSA), and the Indian National Academy of Engineering (INAE). He was President of the AAAI from 1987 to 1989 and was inducted into inaugural IEEE Intelligent Systems' AI's Hall of Fame in 2011. </p>
			<p>​Dr. Reddy was awarded the Legion of Honor by President Mitterand of France in 1984 and the Padma Bhushan by the President of India in 2001. He was awarded the ACM Turing Award in 1994, the Okawa Prize in 2004, the Honda Prize in 2005, the Vannevar Bush Award in 2006 and the IEEE James L. Flanagan Speech and Audio Processing Award in 2008. He served as co-chair of the President's Information Technology Advisory Committee (PITAC) from 1999 to 2001 and has been a Member of the Board of Governors, Peres Center for Peace (Tel Aviv, Israel) since 1997. Dr. Reddy has been awarded honorary doctorates (Doctor Honoris Causa) from 11 Universities around the globe including Universite Henri-Poincare (France), University of New South Wales (Australia), University of Massachusetts (USA), University of Warwick (England), the Indian Institute of Technology (IIT-Kharagpur, India) and Hong Kong University of Science and Technology (Hong Kong).</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>