<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img class="dp" src="templates/img/sullivan.png">
			</div>
			<div class="col-md-10 details">
				<h2 class="designation">President</h2>
				<hr>
				<p>Dr. Robert S. Sullivan</p>
				​<p>Dean, Stanley and Pauline Foster Endowed Chair</p>
				<p>Rady School of Management</p>
				<p>University of California, San Diego, CA, USA</p>
				<br>
			</div>
		</div>
		<div class="row col-md-12">
			<p>Robert S. Sullivan joined the Rady School of Management at UC San Diego as its founding dean in January 2003. Dr. Sullivan is an expert on entrepreneurship, knowledge management and operations management. </p>
			<p>​Dr. Sullivan has successfully recruited top-tier faculty, from universities such as the University of Chicago, MIT, New York University, Northwestern, Princeton, Stanford, the Wharton School and Yale. Under Dr. Sullivan’s leadership, the Beyster Institute was integrated with the Rady School, thereby increasing the school’s brand in San Diego and throughout the world. In 2013- 14, Dr. Sullivan served as chair of the Association to Advance Collegiate Schools of Business (AACSB International), the premier accrediting body for business education. During Dr. Sullivan’s tenure, the Rady School opened and moved to Otterson Hall in June 2007, followed by Wells Fargo Hall in May 2012. In 2004, Dr. Sullivan secured the naming gift for the School, $30 million from the Rady Family Foundation. In 2015, Dr. Sullivan secured an additional $100 million investment to endow the Rady School.</p>
			<p>​Prior to joining UC San Diego, Dr. Sullivan was dean of the Kenan-Flagler Business School of The University of North Carolina, Chapel Hill. From 1995 to 1997, Dr. Sullivan served as director of the University of Texas at Austin’s IC2 Institute, a nontraditional international center for research and education on innovation, creativity, capital and commercialization. He held the J. Marion West Chair for Constructive Capitalism in the university’s Graduate School of Business. Dr. Sullivan served as dean of the Graduate School of Industrial Administration at Carnegie Mellon University from 1991 to 1995. During his tenure, the school’s rankings rose dramatically. He led a reengineering of the school’s educational programs, including integrating advanced technology into the field of finance and creating experiential and international distance-learning opportunities for students. </p>
			<p>​From 1976 to 1991, Dr. Sullivan served in a variety of posts at the University of Texas, including the Joe B. Cook professor of management and associate dean for research and academic affairs in the Graduate School of Business. He was co-director of the Center for Technology Venturing, director of the Bureau of Business Research and director of the Manufacturing Systems Engineering Program in the College of Engineering. Dr. Sullivan was a Peace Corps volunteer in Ethiopia from 1968 to 1970, where he worked as a lecturer in production management in the College of Business Administration at Haile Selassie I University in Addis Ababa (now Addis Ababa University). </p>
			<p>Dr. Sullivan holds a doctorate in operations management from Pennsylvania State University, a master’s degree in production management and quantitative methods from Cornell University and a bachelor’s degree in mathematics from Boston College.</p>
		</div>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>