<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h1 id="heading">Target Student Body</h1>
		<hr>
		<p>By utilizing information-technology-enabled distance education models, we expect to be able provide quality education to working professionals. </p><br>

		<p>Our students are typically have a full-time and are looking to improve their skills while working. Our students are highly motivated and are committed to spending 10-20 hours a week mastering the course material.</p>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>