<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h2 id="heading">Teaching Assistant</h2>
		<hr>
		<p>As you are aware, one of the key differentiators between FJU and other online programs is the Coach who will guide you both in group sessions and one-on-one to help you understand the course material when you have questions.</p>
		<p>If you are interested and FJU has openings, you can apply to be a Teaching Assistant to a Coach. To be eligible to apply, you need to meet the following conditions:</p>
		<ul style="font-size: 16px; color: black">
			<li><p>You should have taken the course you are applying to be a Teaching Assistant at FJU</p></li>
			<li><p>Passed the course with 100% marks (even 99% is not acceptable) without requiring much assistance from a Coach</p></li>
			<li><p>Have demonstrated excellent communication skills and work ethic</p></li>
		</ul><br>
		<p>If you meet the above conditions, please contact your current Coach about applying for a part-time position as a Teaching Assistant. If accepted, you might be able to earn enough to pay up to 50% of your FJU tuition.</p>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>