<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
</head>
<body>
<div id="navbar_field"></div>
<div class="container"><br>
	<h2 id="heading">Teaching Process</h2>
	<hr>
	<p>Teaching at FJU is about delivering a sequence of learning experiences design to transform a beginner into a successfully working professional who has the knowledge, skills, and behaviors to remain successful and current in their discipline.</p>

	<p>FJU faculty members are focused on:</p>
	<ol style="font-size: 16px; color: black">
		<li><p>observing students work</p></li>
		<li><p>reviewing student work products</p></li>
		<li><p>providing actionable feedback</p></li>
		<li><p>diagnosing problems blocking student progress</p></li>
		<li><p>engaging students with questions to help them think through what they are experiencing in order to find a path forward</p></li>
		<li><p>providing real-world practice to help students develop needed skills and insights as they learn knowledge of enduring value</p></li>
	</ol><br>

	<p>Details: <a href="teaching-process---details.html">Click this link for a white paper on FJU's Teaching Process.</a></p>
</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="js/navbar.js"></script>
</html>