<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="templates/css/styles.css">
</head>
<body>
	<div id="navbar_field"></div><br><br>	
	<div class="container">
		<div class="row">
			<h3>Tuition</h3><br>
			<ul style="color: black; font-size: 16px;">
				<li><p>FJU believes in providing affordable, quality education at a reasonable cost.</p></li>
				<li><p>Annual tuition is USD $10,000/year.  </p></li>
				<li><p>6 month certificate programs typically have 6-8 courses and a project, they cost USD $7500. </p></li>
				<li><p>FJU will enroll students from all over the world, the local tuition will be pegged to the Per Capita income of that country. We will determining local tuition, it will be published here when it is finalized. </p></li>
				<li><p>The only other major costs associated with your education are your time, a laptop and a good internet connection.</p></li>
				<li><p>You will be billed for the program or course you are enrolled in advance. Payment should be received before commencement of online classes.</p></li>
			</ul>
		</div>
	</div>
	<script src="js/googleanalytics.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>