<!DOCTYPE html>
<html>
<head>
	<title>Franklin Jefferson University</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/googleanalytics.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/navbar.css">
</head>
<body>
	<div id="navbar_field"></div>
	<div class="container"><br>
		<h1 id="heading">Type of Delivery</h1>
		<hr>
		<p>The faculty and students will be globally distributed and most of the founders will administer the University from the United States.</p><br>

		<p>Most students will receive online delivery of educational material and will need access to a connected computing device.  Every student will be assigned a designated instructor/coach at the time of registration who will have daily online interaction with the class.</p>

		<p>A student takes courses sequentially and is able to benefit from self-paced and asynchronous nature of learning-by-doing methodology.</p>

		<p>Many of the courses will be project centric requiring the student to work as a part a team requiring online interaction with team members.</p>
	</div>
</body>
<script type="text/javascript" src="templates/js/navbar.js"></script>
</html>